<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Veterinaria</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="../../static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <section class="container">
        <div>
            <img src="../../static/img/salud.png" alt="#">
            <h1> ¡Bienvenidos al Sistema Veterinaria!</h1>

        </div>
    </section>

    <section class="container">
        <div class="c-posicion">
            <p class=""> Aquí podrán cargar a sus pacientes! </p>
            <h4> Inscriba a su paciente:</h4>
            <a href="/paciente_form">
                <button type="button" class="btn btn-outline-primary">
                    Inscribir
                </button>
            </a>
        </div>

        <div class="d-dueno">
            <h4> Consulte los dueños: </h4>
            <button type="button" class="btn btn-outline-danger">
                    Dueños
                </button>
        </div>

        <div class="d-insumos">
            <h4> Consulte los insumos: </h4>
            <button type="button" class="btn btn-outline-success">
                    Insumos
                </button>
        </div>

    </section>

<!--    <section class="container">-->
<!--        <div>-->
<!--            <h4> También puede ser un animal de granja</h4>-->
<!--        </div>-->
<!--    </section>-->
<!--   <section class="container">-->
<!--        <div>-->
<!--            <h4> O bien, puede solo inscribirlo para que seamos los doctores de su mascota</h4>-->
<!--        </div>-->
<!--    </section>-->









<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>